<template>
  <div class="container-fluid text-danger mt-5 text-center" style="font-size: 30px">
    Ooops! Something went wrong!
  </div>
</template>

<script>
import ApiService from '@/common/api.service'

export default {
  name: "ErrorView",
  created() {
    ApiService.getAllPosts().then(() => {
      this.$router.push('/')
    }).catch(error => {
      console.log(error)
      this.$router.push('not-found')
    })
  }
}
</script>

<style lang="scss" scoped>

</style>
