<template>
  <div class="main-content container-fluid" style="padding: 0">
    <div class="image jumbotron d-flex justify-content-center align-items-center">
      <div class="user-message text-center alert alert-success fixed-top" v-if="user_name">Welcome back {{ user_name }}</div>
      <h1 class="text-white display-3">Travel Lifestyle</h1>
    </div>

    <div class="post-container position-relative ml-3 mr-3 overflow-hidden" v-if="all_posts">
      <div class="text-center font-weight-bold mb-3">Posts that might interest you</div>

      <span @click="goLeft" class="btn btn-sm btn-outline-danger rounded left">&#60;</span>

      <div id="scroll-area" class="d-flex overflow-auto w-auto mt-2">
        <post-card :card="post" v-for="post in all_posts" :key="post.id"
                   @click.native="selected_post = post" :active-post="selected_post" />
      </div>

      <span @click="goRight" class="btn btn-sm btn-outline-danger rounded right">&#62;</span>
    </div>

    <main-post v-if="all_posts" :post="selected_post" :comments="postComments"
            @saveComment="postComment($event)" :key="refresh_index"/>

    <div v-if="all_posts === null" class="text-center">Loading...</div>
  </div>
</template>

<script>
import ApiService from '@/common/api.service'
import PostCard from "@/components/PostCard";
import MainPost from "@/components/MainPost";

export default {
  name: 'Home',
  components: {
    PostCard, MainPost
  },
  created() {
    ApiService.getAllPosts().then(posts => {
      this.all_posts = posts
      this.selected_post = posts[0]

      return ApiService.getComments()
    }).then(comments => {
      this.all_comments = comments
    }).catch(error => {
      console.log(error)
      this.$router.push('not-found')
    })
  },
  mounted() {
    let last_user = JSON.parse(localStorage.getItem('last_user'))

    if (last_user) {
      this.user_name = last_user

      setTimeout(() => {
        this.user_name = null
      }, 5000)
    }
  },
  data() {
    return {
      all_posts: null,
      selected_post: null,
      all_comments: null,
      refresh_index: 0,
      user_name: null,
      left_scroll_active: true,
      right_scroll_active: true,
    }
  },
  computed: {
    postComments() {
      if (this.selected_post) {
        return this.all_comments && this.all_comments.filter(item => item.post_id === this.selected_post.id)
      } else {
        return []
      }
    }
  },
  methods: {
    postComment(comment_payload) {
      this.all_comments = null

      ApiService.postComment(comment_payload).then(comments => {
        this.all_comments = comments
        this.refresh_index++
      }).catch(error => {
        console.log(error)
        this.$router.push('not-found')
      })
    },
    goLeft() {
      let elem = document.getElementById('scroll-area')

      elem.scroll({
        left: elem.scrollLeft - document.getElementsByClassName('post-card')[0].scrollWidth,
        behavior: 'smooth'
      })
      setTimeout(() => {
        this.checkChevrons()
      }, 300)
    },
    goRight() {

      let elem = document.getElementById('scroll-area')

      elem.scroll({
        left: elem.scrollLeft + document.getElementsByClassName('post-card')[0].scrollWidth,
        behavior: 'smooth'
      })
      setTimeout(() => {
        this.checkChevrons()
      }, 300)
    },
    checkChevrons() {

      let elem = document.getElementById('scroll-area')
      if (elem.scrollLeft === 0) {
        this.left_scroll_active = false
      } else if (elem.scrollLeft > 0) {
        this.left_scroll_active = true;
      }

      let left_scroller = parseInt(elem.scrollLeft.toFixed(0))

      if (left_scroller + parseInt(elem.offsetWidth.toFixed(0)) === parseInt(elem.scrollWidth.toFixed(0))) {
        this.right_scroll_active = false;
      } else if (left_scroller + parseInt(elem.offsetWidth.toFixed(0)) !== parseInt(elem.scrollWidth.toFixed(0))) {
        this.right_scroll_active = true;
      }
    }
  }
}
</script>

<style lang="scss" scoped>

  .main-content {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    .user-message {
      max-width: 350px;
      margin: 1rem auto;
    }

    .image {
      background: url("../assets/banner.jpg") no-repeat center;
      background-size: cover;
      height: 450px;
      border-radius: 0;
    }

    .post-container {
      max-width: 100%;

      .left {
        position: absolute;
        top: 0;
        left: 0;
      }

      .right {
        position: absolute;
        top: 0;
        right: 0;
      }


    }

    .error-message {
      max-width: 500px;
      margin: 0 auto;
    }
  }

</style>
