<template>
  <div class="comment row p-2" role="alert" :class="{ 'alert-secondary': index % 2 === 0 }">
    <div class="col-3 font-weight-bold">{{ comment.username }}</div>
    <div class="col-9">{{ comment.text }}</div>
  </div>
</template>

<script>
export default {
  name: "CommentItem",
  props: ['comment', 'index']
}
</script>

<style lang="scss" scoped>
  .comment {
    margin: 0;
    border-radius: 4px;
  }
</style>
