<template>
  <div class="row main-post mt-5 mb-5 ml-3 mr-3">
    <div class="card col-sm-6 col-md-1 p-0 border-0">
      <img :src="post.image" class="card-img-top" alt="">
      <div class="card-body">
        <h3 class="card-title">{{ post.name }}</h3>
        <p class="card-text">{{ post.description }}</p>
      </div>
    </div>
    <div class="col-sm-6 col-md-1 comments-section d-flex flex-column">
      <p class="mb-3">Comments related to <strong>{{ post.name }}</strong> post</p>
      <div class="overflow-hidden all-comments">
        <div class="comment-container overflow-auto">
          <template v-if="comments && comments.length > 0">
            <comment-item v-for="(comment, i) in comments" :comment="comment"
                          :key="comment.id" :index="i" />
          </template>
          <div class="alert alert-light" v-else>There are no comments for this post</div>
        </div>
      </div>
      <div class="add-comment mt-3 mb-3">
        <div class="input-group mb-2 input-group-sm">
          <input type="text" class="form-control"
                 placeholder="Username" aria-label="Username"
                 v-model="new_comment.username">
        </div>
        <div class="input-group mb-2 input-group-sm">
          <textarea class="form-control" aria-label="With textarea"
                    @keypress.enter="saveComment"
                    placeholder="Add Comment" v-model="new_comment.text"/>
        </div>

        <button type="button" class="btn btn-primary"
                @click="saveComment" :disabled="buttonDisabled">Save Comment</button>
      </div>
    </div>
  </div>
</template>

<script>
import CommentItem from "@/components/CommentItem";

export default {
  name: "MainPost",
  props: ['post', 'comments'],
  components: {
    CommentItem
  },
  beforeMount() {
    let last_user = JSON.parse(localStorage.getItem('last_user'))

    this.new_comment.username = last_user || null
  },
  data() {
    return {
      new_comment: {
        username: null,
        text: null
      }
    }
  },
  computed: {
    buttonDisabled() {
      return !this.new_comment.username || !this.new_comment.text
    }
  },
  methods: {
    saveComment() {
      localStorage.clear()
      localStorage.setItem('last_user', JSON.stringify(this.new_comment.username))

      let payload = {
        id: this.generateUUID(),
        username: this.new_comment.username,
        text: this.new_comment.text,
        post_id: this.post.id,
        date: new Date()
      }

      this.$emit('saveComment', payload)
    },
    generateUUID() {
      return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, (c) => {
        let r = Math.random() * 16 | 0,
            v = c == 'x' ? r : (r & 0x3 | 0x8);
        return v.toString(16);
      });
    }
  }
}
</script>

<style lang="scss" scoped>
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.main-post {
  @include row-cols(2);

  @include media-breakpoint-down(md) {
    @include row-cols(1)
  }
}

img {
  max-height: 500px;
}

.comments-section {
  .all-comments {
    max-height: 500px;

    .comment-container {
      height: 100%;
    }
  }

  @include media-breakpoint-down(md) {
    margin-top: 1.5rem;
    border-top: 1px solid $gray-500;
    padding-top: 1.5rem;
    border-radius: 4px;
  }
}
</style>
