<template>
  <div class="post-card card h-100" :class="{ active: activePost && card.id === activePost.id }">
    <img :src="card.image" class="card-img" alt="">
    <div class="card-img-overlay d-flex align-items-center justify-content-center">
      <h3 class="card-title text-white">{{ card.name }}</h3>
    </div>
  </div>
</template>

<script>
export default {
  name: "PostCard",
  props: ['card', 'activePost']
}
</script>

<style lang="scss" scoped>
  .card {
    cursor: pointer;
    min-width: 18rem;

    img {
      max-width: 18rem;
      height: 18rem;
    }

    &:hover {
      border: 1px solid red;
    }

    &.active {
      border: 1px solid red;
    }

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }
</style>
